
   .wrapper {
    position: relative;
    display: inline-block;  
  }
  
  .wrapper::before {
    content: "";
    position: absolute;
    inset: 0;                
    pointer-events: none;
  
    padding: var(--shine-border-width);
    border-radius: var(--shine-radius);
  
    background: radial-gradient(
        transparent,
        transparent,
        var(--shine-colors),
        transparent,
        transparent
    );
    background-size: 300% 300%;
    animation: shine var(--shine-duration) linear infinite;
  

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }
  

  @keyframes shine {
    0%   { background-position:   0% 50%; }
    100% { background-position: 100% 50%; }
  }
  